HOSTNAME=localhost
PORT=3000
NODE_ENV=development
ADMIN_API_KEY=secret-admin-key
PRODUCTION_CORS_ORIGIN=https://example.com
EXTERNAL_API_URL=http://localhost:3001
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=password
MYSQL_DB=books_lab8
