HOSTNAME=localhost
PORT=3000
NODE_ENV=development
ADMIN_API_KEY=secret-admin-key
PRODUCTION_CORS_ORIGIN=https://example.com
EXTERNAL_API_URL=http://localhost:3001
GITHUB_API_URL=https://api.github.com
